*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100vh;
    width: 100vw;
}
#main{
    background-color: #0a3cce;
    overflow: hidden;
    position:relative;
}
@font-face{
    font-family: a;
    src:url(.jost-variable.ttf);
}
@font-face{
    font-family: b;
    src:url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf)
}
@font-face{
    font-family: c;
    src:url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page-1{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    position: relative;
}
/* #page-1>nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    color: yellow;
    position: absolute;
    
}*/
#page-1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page-1>nav {
    padding: 0px 30px;
    height: 10vh;
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightgoldenrodyellow; */
}
#page-1>nav>img{
    margin-top: -10px;
    width: 10%;
    
}
#right-nav>button{
    padding:10px 20px;
    border-radius: 50px;
    border:1px solid white;
    background-color: #0b48ed;
    color: white;
    font-family: a;
    font-size: 15px;
}
#botton-page1{
    position: absolute;
    bottom: 5%;
    height: 30vh;
    width: 50vw;
    left: 10%;
    
}
#botton-page1>h1{
   
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: white;
}
#botton-page1-inner{
   
    /* height: 15%;
    width: 50%; */
    position: absolute;
    bottom: 5%;
    left: 7.1%;
}
#botton-page1-inner   {
    font-size: a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 29px;
    background: transparent;
    color: white;

}
#botton-page1-inner>button{
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #0b48ed;
    font-weight: 400;
    font-family: b;
    font-size: 13px;
}
#botton-page1-inner>h4{
    font-size: 1.5vw;
    color: white;
    font-weight: 300;
}
/* #page2{

    display: flex;
    font-family: a;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color:#0a3cce;
    position: relative;
    padding: 0vw 5vw;
    color: white;
}

#page2>h2{
    margin-bottom:5vw;
    font-weight: 100;
}
#page2>h3{
    width: 90%;
    font-size: 2.5vw;
    font-weight: 100;
    line-height: 1.3;
    color: #dadada69
    ;
} */

#page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;
}
#page2>h2{
    margin-bottom: 3vw;
    font-weight: 100;
}
#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dadada69;
}

#page3{ 
    position: relative;
    width: 100vw;
    height: 100vh;
   
    /* background-color: red; */
}

#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4{
    font-family: a;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#0a3cce ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4>h3{
    margin-left: -3.9vw;
    /* margin-left: 15vw; */
    margin-bottom: 1.7vw;
    color: white;
    font-weight: 100;
}

#page4>h1{
    margin-left: 15vw;
    width: 60%;
    font-weight: 100;
    color: rgb(142, 141, 141);
    font-size: 2.7vw;
}

#page5{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction:column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0a3cce;
    font-family: a;
}
#page6>h1{
    width: 60%;
    margin-left: 15vw;
    color: rgb(149, 149, 149);
    
    font-weight: 100;
    margin-bottom: 5vw;
}
#page6>h3{
    width: 70%;
    font-size: 2vw;
    margin-left: 15vw;
    color: white;
    line-height: 1.5;
}

#page7{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0a3cce;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 50vh;
    width: 27vw;
    border: 1px solid white;
    border-radius: 50%;

}
#page7-cir-inner{
    height: 50%;
    width: 50%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
}

#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.page8-bottom>h1{
    color: white;
    font-family: a;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 15px 25px;
    /* width: 17vw;
    height: 5vw; */
    border-radius: 50px;
    background-color: white;
    color: #0a3cce;
    border: none;
}
#page9{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    
    position: relative;
    font-family: a;
    font-weight: 100;
    
}
.left9>h1{
    position:absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    color: white;
    line-height: 1.3;
    
}
.right9{
    font-weight: 100;
    height: 100%;
    font-family: a;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
}
#page10{
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 33.3%;
    font-family: a;
    color: white;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page11{
    /* display: flex; */
    height: 140vh;
    width: 100vw;
    position: relative;
    background-color:white;
}
#page11>h1{
    position: absolute;
    font-size: 4vw;
    color: black;
    font-weight: 100;
    font-family: a;
    left: 10%;
    top: 7%;
}

.page11-inner{
    display: flex;
    top: 19%;
    position: relative;
    margin-bottom: 2vw;
    height: 25%;
    width: 100%;
   
}

.left11{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: maroon;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.right11{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right11>h3{
    font-weight: 100;
}
.right11>h1{
    font-weight: 1.5vw;
}

#page12{
    /* display: flex; */
    height: 90vh;
    width: 100vw;
    position: relative;
    background-color:#02268e;
}
.page12-inner{
    position: absolute;
    top: 40%;
    right: 10%;
    color: white;
    font-family: a;
}
.page12-inner>h1{
    font-size: 3.7vw;
}
.page12-inner>p{
    font-size: 1.3vw;
}

#page13{
    /* display: flex; */
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color:black;
    color: white;
    padding: 10vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 10px 25px;
    border-radius: 10vw;
    border: none;
    background-color: #0a3cce;
    color: white;
    margin-top: 2vw;
}

#page14{
    /* display: flex; */
    height: 60vh;
    width: 100vw;
    position: relative;
    background-color:black;
}

.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 7vw;
    height: 33.3%;
    width: 100%;
    color: white;
    font-family: a;
    border-top: .5px solid rgb(201, 200, 200);
    border-bottom: .5px solid rgb(201, 200, 200);
   

}
.page14-inner>i{
    font-size: 2.4vw;
    /* color: white; */
    font-weight: 100;
    position: relative;
    z-index: 999999;
}
.page14-inner>h1{
    font-size: 3vw;
    /* color: white; */
    font-weight: 100;
    position: relative;
    z-index: 999999;
}
.center-14{
    height: 0%;
    width: 100%;
    position: absolute;
    left: 50%;
    background-color: #0a3cce;
    ;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;

}
.page14-inner:hover .center-14{
    height: 100%;

}